<h1>Listado de productos</h1>

<form method="post">
    @Html.AntiForgeryToken()
    <label class="form-label">Dirección de envio</label>
    <input type="text" name="direccion"
           class="form-control" />
    <button class="btn btn-success">Realizar pedido</button>

    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="IPhone 1.200€" />IPhone 1.200€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="Ordenador Gaming 2.300€" />Ordenador Gaming 2.300€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="Ford 40.000€" />Ford 40.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto"
                   value="Tesla 100.000€" />Tesla 100.000€
        </li>
    </ul>
</form>
